# Secrets
config/.env
*.env.local

# Data
data/
*.db
*.db-journal
*.db-wal
*.db-shm

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
.project
.classpath
.settings/

# JBang
.jbang/
